<section id="about-part" class="pt-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-title mt-50">
                    <h1>About us</h1>
                    <h2>Welcome to Edubin </h2>
                </div>
                <div class="about-cont">
                    <p>Edubin est généralement une plateforme ou un thème conçu pour les sites web éducatifs, souvent utilisé par des écoles, des universités, des centres de formation en ligne, ou des institutions académiques. Ce type de plateforme permet de gérer et de distribuer des cours en ligne<br> 
                    <a href="#" class="main-btn mt-55">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="about-event mt-50">
                    <div class="event-title">
                        <h3>Upcoming events</h3>
                    </div> 
                    <ul>
                        <li>
                            <div class="singel-event">
                                <span><i class="fa fa-calendar"></i> 2 December 2024</span>
                                <a href=""><h4>Campus clean workshop</h4></a>
                                <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                                <span><i class="fa fa-map-marker"></i>Urban-Nord Ariana</span>
                            </div>
                        </li>
                        <li>
                            <div class="singel-event">
                                <span><i class="fa fa-calendar"></i> 20 December 2024</span>
                                <a href=""><h4>Tech Summit</h4></a>
                                <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                                <span><i class="fa fa-map-marker"></i>Urban-Nord Ariana</span>
                            </div>
                        </li>
                        <li>
                            <div class="singel-event">
                                <span><i class="fa fa-calendar"></i> 30 December 2024</span>
                                <a href=""><h4>Enviroement conference</h4></a>
                                <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                                <span><i class="fa fa-map-marker"></i> Urban-Nord Ariana</span>
                            </div>
                        </li>
                    </ul> 
                </div> <!-- about event -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    <div class="about-bg">
        <img src="assets/images/about/bg-1.png" alt="About">
    </div>
</section>