<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8"
    style="background-image: url(assets/images/page-banner-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Admin</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">teacher</li>
                        </ol>
                    </nav>
                </div> <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section id="contact-page" class="pt-90 pb-120 gray-bg ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-from">
                    <div class="section-title">
                        <h5>Sign Up</h5>
                        <h2>Welcom Teacher</h2>
                    </div> <!-- section title -->
                    <div class="main-form pt-45">
                        <form id="contact-form" action="#" method="post" data-toggle="validator"
                            [formGroup]="teacherForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="teacherFirstName" type="text" placeholder="First Name*">
                                        <div
                                            *ngIf=" ((teacherForm.controls['teacherFirstName'].invalid) && (teacherForm.controls['teacherFirstName'].touched || teacherForm.controls['teacherFirstName'].dirty))">
                                            <div *ngIf="teacherForm.controls['teacherFirstName'].errors?.['required']"
                                                class="red">
                                                Name required *
                                            </div>
                                            <div *ngIf="teacherForm.controls['teacherFirstName'].errors?.['minlength']"
                                                class="red">
                                                Your name must have 3 chars *
                                            </div>
                                        </div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="teacherLastName" type="text" placeholder="Last Name*">
                                        <div
                                            *ngIf=" ((teacherForm.controls['teacherLastName'].invalid) && (teacherForm.controls['teacherLastName'].touched || teacherForm.controls['teacherLastName'].dirty))">
                                            <div *ngIf="teacherForm.controls['teacherLastName'].errors?.['required']"
                                                class="red">
                                                Last name required *
                                            </div>
                                            <div *ngIf="teacherForm.controls['teacherLastName'].errors?.['minlength']"
                                                class="red">
                                                Your name must have 3 chars *
                                            </div>
                                        </div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="teacherEmail" type="text" placeholder="Email*">
                                    </div>
                                    <div
                                        *ngIf=" ((teacherForm.controls['teacherEmail'].invalid) && (teacherForm.controls['teacherEmail'].touched || teacherForm.controls['teacherEmail'].dirty))">
                                        <div *ngIf="teacherForm.controls['teacherEmail'].errors?.['required']" class="red">
                                            Email required
                                        </div>
                                        <div *ngIf="teacherForm.controls['teacherEmail'].errors?.['email']" class="red">
                                            Email error
                                        </div>
                                    </div>
                                    <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="teacherPassword" type="password" placeholder="password*">

                                    </div>
                                    <div
                                        *ngIf=" ((teacherForm.controls['teacherPassword'].invalid) && (teacherForm.controls['teacherPassword'].touched || teacherForm.controls['teacherPassword'].dirty))">
                                        <div *ngIf="teacherForm.controls['teacherPassword'].errors?.['required']"
                                            class="red">
                                            password required
                                        </div>
                                        <div *ngIf="teacherForm.controls['teacherPassword'].errors?.['minlength'] || teacherForm.controls['teacherPassword'].errors?.['maxlength']"
                                            class="red">
                                            <ul>
                                                <li >At least 8 characters in length</li>
                                            </ul>
                                        </div>
                                        <div *ngIf="teacherForm.controls['teacherPassword'].errors?.['pattern']"
                                            class="red">
                                            <ul>
                                                <li>Lowercase letters,Uppercase letters,Numbers,Special characters</li>
                                                
                                            </ul>
                                        </div>

                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="teacherAdresse" type="text" placeholder="Adresse*">
                                        <div
                                            *ngIf=" ((teacherForm.controls['teacherAdresse'].invalid) && (teacherForm.controls['teacherAdresse'].touched || teacherForm.controls['teacherAdresse'].dirty))">
                                            <div *ngIf="teacherForm.controls['teacherAdresse'].errors?.['required']"
                                                class="red">
                                                Adress required *
                                            </div>
                                            
                                        </div>
                                    </div> <!-- singel form -->
                                </div>

                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="teacherPhone" type="text" placeholder="Phone*">
                                    </div>
                                    <div
                                        *ngIf=" ((teacherForm.controls['teacherPhone'].invalid) && (teacherForm.controls['teacherPhone'].touched || teacherForm.controls['teacherPhone'].dirty))">
                                        <div *ngIf="teacherForm.controls['teacherPhone'].errors?.['required']" class="red">
                                            Phone required *
                                        </div>
                                        <div *ngIf="teacherForm.controls['teacherPhone'].errors?.['pattern']" class="red">
                                            Phone error
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="teacherSpeciality" type="text" placeholder="Speciality*">
                                        <div
                                            *ngIf=" ((teacherForm.controls['teacherSpeciality'].invalid) && (teacherForm.controls['teacherSpeciality'].touched || teacherForm.controls['teacherSpeciality'].dirty))">
                                            <div *ngIf="teacherForm.controls['teacherSpeciality'].errors?.['required']"
                                                class="red">
                                                Speciality required *
                                            </div>
                                            
                                        </div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                <div class="singel-form form-group" style="visibility:   hidden; ">
                                    <input type="file" class="form-control" #filePicker (change)='onFileSelected($event)' />
                                  </div>
                                  <div style="margin-top: -40px;">
                                    <button class="btn btn-info  " (click)="filePicker.click()">Upload Your CV</button>
                                  </div>
                                </div>
                                <p class="form-message"></p>
                                <div class="col-md-12 text-center">
                                    <div class="singel-form">
                                        <button type="submit" class="main-btn" (click)="addTeacher()">Sign Up</button>
                                    </div> <!-- singel form -->
                                </div>
                            </div> <!-- row -->
                        </form>
                    </div> <!-- main form -->
                </div> <!--  contact from -->
            </div>

        </div> <!-- row -->
    </div> <!-- container -->

</section>