<div class="search-box">
    <div class="search-form">
        <div class="closebtn">
            <span></span>
            <span></span>
        </div>
        <form action="#">
            <input type="text" placeholder="Search by keyword">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>

<header id="header-part">
    <!-- Header Top -->
    <div class="header-top d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="header-contact text-lg-left text-center">
                        <ul class="d-flex align-items-center">
                            <li>
                                <img src="assets/images/all-icon/map.png" alt="icon" style="margin-right: 5px;">
                                <span>Urban-Nord Ariana 7200</span>
                            </li>
                            <li>
                                <img src="assets/images/all-icon/email.png" alt="icon" style="margin-right: 5px;">
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header-opening-time text-lg-right text-center">
                        <p>Opening Hours : Monday to Saturday - 8 AM to 5 PM</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Logo & Support -->
    <div class="header-logo-support py-3">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4">
                    <div class="logo">
                        <a routerLink="">
                            <img src="assets/images/logo.png" alt="Logo" style="max-width: 150px;">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div class="support-button float-right d-none d-md-block">
                        <div class="support float-left">
                            <div class="icon">
                                <img src="assets/images/all-icon/support.png" alt="icon">
                            </div>
                            <div class="cont">
                                <p>Need Help? Call us free</p>
                                <span>+216 95 526 927</span>
                            </div>
                        </div>
                        <div class="button float-left ml-3">
                            <a href="#" class="main-btn">Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <div class="navigation">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-10">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link active" routerLink="">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="courses">Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="teachers">Our Teachers</a>
                                </li>
                                <!-- Admin Section -->
                                <li *ngIf="isLoggedIn() && user.role=='admin'" class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dashboard Admin</a>
                                    <ul class="sub-menu">
                                        <li><a class="dropdown-item" routerLink="add-teachers">Add Teachers</a></li>
                                        <li><a class="dropdown-item" routerLink="add-student">Add Student</a></li>
                                        <li><a class="dropdown-item" routerLink="add-courses">Add Courses</a></li>
                                        <li><a class="dropdown-item" routerLink="admin-panel">Panel</a></li>
                                    </ul>
                                </li>
                                <!-- Teacher Section -->
                                <li *ngIf="isLoggedIn() && user.role=='teacher'" class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dashboard Teachers</a>
                                    <ul class="sub-menu">
                                        <li><a class="dropdown-item" routerLink="add-courses">Add Courses</a></li>
                                        <li><a class="dropdown-item" routerLink="teachers-panel">Panel</a></li>
                                        <li><a class="dropdown-item" routerLink="student-Note">Notes</a></li>
                                    </ul>
                                </li>
                                
                                <li *ngIf="isLoggedIn() && user.role=='parent'" class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dashboard Parent</a>
                                    <ul class="sub-menu">
                                        
                                        <li><a class="dropdown-item" routerLink="display-Student-Notes">MY Student's Note</a></li>
                                    </ul>
                                </li>
                                <!-- Other Links -->
                                <li class="">
                                    <a *ngIf="!isLoggedIn()">Inscription</a>
                                    <ul class="sub-menu">
                                        <li><a routerLink="inscriptionAdmin">Admin</a></li>
                                        <li><a routerLink="inscriptionTeachers">Teacher</a></li>
                                        <li><a routerLink="signup-student">Student</a></li>
                                        <li><a routerLink="signup-parent">Parent</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a class="active" routerLink=""
                                        *ngIf="isLoggedIn() && user.role=='teacher'">{{user.userfirstName}}</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="admin-profil" *ngIf="isLoggedIn() && user.role=='admin'">{{user.firstName}} {{user.lastName}} </a>
                                    <a routerLink="teacher-profil" *ngIf="isLoggedIn() && user.role=='teacher'">{{user.firstName}} {{user.lastName}}</a>
                                    <a routerLink="student-profil" *ngIf="isLoggedIn() && user.role=='student'">{{user.firstName}} {{user.lastName}}</a>
                                    <a routerLink="student-profil" *ngIf="isLoggedIn() && user.role=='parent'">{{user.firstName}} {{user.lastName}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="login" *ngIf="!isLoggedIn()">Login</a>
                                </li>
                                <li class="nav-item" *ngIf="isLoggedIn()">
                                    <a class="nav-link" (click)="logout()">Log Out</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col-lg-2">
                    <div class="right-icon text-right">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="#" id="search"><i class="fa fa-search"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
