<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(assets/images/page-banner-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Add Courses</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add Courses</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section id="contact-page" class="pt-90 pb-120 gray-bg ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-from">
                    <div class="section-title">
                        <h5>Add</h5>
                        <h2>Courses</h2>
                    </div> <!-- section title -->
                    <div class="main-form pt-45">
                        <form id="contact-form" action="#" method="post" data-toggle="validator" [formGroup]="coursForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="courName" type="text" placeholder="Course Name" >
                                        <div
                                            *ngIf=" ((coursForm.controls['courName'].invalid) && (coursForm.controls['courName'].touched || coursForm.controls['courName'].dirty))">
                                            <div *ngIf="coursForm.controls['courName'].errors?.['required']"
                                                class="red">
                                                Name required *
                                            </div>

                                        </div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                        <input formControlName="courNbrHours" type="text" placeholder="Hour's Number">
                                        <div
                                            *ngIf=" ((coursForm.controls['courNbrHours'].invalid) && (coursForm.controls['courNbrHours'].touched || coursForm.controls['courNbrHours'].dirty))">
                                            <div *ngIf="coursForm.controls['courNbrHours'].errors?.['required']"
                                                class="red">
                                                Number of Hours required *
                                            </div>

                                        </div>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-6">
                                    <div class="singel-form form-group">
                                    <textarea formControlName="courDiscription" id="" placeholder="Discription..."></textarea>
                                    <div
                                            *ngIf=" ((coursForm.controls['courDiscription'].invalid) && (coursForm.controls['courDiscription'].touched || coursForm.controls['courDiscription'].dirty))">
                                            <div *ngIf="coursForm.controls['courDiscription'].errors?.['required']"
                                                class="red">
                                                Discription required *
                                            </div>

                                        </div>
                                    </div> <!-- singel form -->
                                </div>
                                
                                <div class="col-md-6 mt-5 nav-item">
                                    
                                    <select class=" ml-5 sub-menu" aria-label="Large select example" >
                                        <option selected >Select Teachers</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </div>
                                
                                
                                <p class="form-message"></p>
                                <div class="col-md-12 text-center">
                                    <div class="singel-form">
                                        <button type="submit" class="main-btn" (click)="addCour()">Add Cour</button>
                                    </div> 
                                    <div class="text-success">{{displayMessage}}</div><!-- singel form -->
                                </div> 
                            </div> <!-- row -->
                        </form>
                    </div> <!-- main form -->
                </div> <!--  contact from -->
            </div>
          
        </div> <!-- row -->
    </div> <!-- container -->

</section>

