<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(assets/images/page-banner-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Notes</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Notes</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section id="contact-page" class="pt-90 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-from">
                    <div class="section-title">
                        <h1>Add Note</h1>
                    </div> <!-- section title -->

                    <div class="main-form pt-45">
                        <div *ngIf="noteForm">
                            <div *ngFor="let studentForm of noteForm.controls; let i = index">
                                <form (ngSubmit)="addNote(studentForm)" [formGroup]="toFormGroup(studentForm)">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="singel-form form-group">
                                                <label>{{ studentForm.value.firstName + ' ' + studentForm.value.lastName }}</label>
                                            </div> <!-- singel form -->
                                        </div>
                                        <div class="col-md-9">
                                            <div class="singel-form form-group">
                                                <input formControlName="studentNote" type="number" placeholder="Donner Note" required>
                                                <div *ngIf="studentForm.get('studentNote')?.invalid && (studentForm.get('studentNote')?.touched || studentForm.get('studentNote')?.dirty)">
                                                    <small class="text-danger">Note is required and must be between 0 and 20.</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 text-center">
                                            <div class="singel-form">
                                                <button type="submit" class="main-btn" [disabled]="studentForm.invalid">Add Note</button>
                                            </div>
                                        </div>
                                    </div> <!-- row -->
                                </form>
                            </div> <!-- student form -->
                        </div> <!-- formArray -->
                    </div> <!-- main form -->
                </div> <!-- contact from -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
