<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(assets/images/page-banner-1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Notes</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Notes</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section id="contact-page" class="pt-90 pb-120 gray-bg ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-from">
                    <div class="section-title">
                        <h1>Add Note</h1>
                        
                    </div> <!-- section title -->
                    
                    <div class="main-form pt-45" *ngFor="let user of studentTable">
                        <form id="contact-form" action="#" method="post" data-toggle="validator" [formGroup]="noteForm">
                            <div class="row" *ngIf="user.role === 'student'">
                                <div class="col-md-3">
                                    <div class="singel-form form-group">
                                        <label>{{ user.firstName + ' ' + user.lastName }}</label>
                                    </div> <!-- singel form -->
                                </div>
                                <div class="col-md-9">
                                    <div class="singel-form form-group">
                                        <input formControlName="studentNote" type="number" placeholder="Donner Note" >
                                        
                                        <!-- Validation des erreurs -->
                                        <div *ngIf="noteForm.controls['studentNote'].invalid && 
                                                    (noteForm.controls['studentNote'].touched || noteForm.controls['studentNote'].dirty)">
                                            
                                            <!-- Message d'erreur si le champ est requis -->
                                            <div *ngIf="noteForm.controls['studentNote'].errors?.['required']" class="red">
                                                Note requise *
                                            </div>
                                
                                            <!-- Message d'erreur si la valeur est inférieure à 0 -->
                                            <div *ngIf="noteForm.controls['studentNote'].errors?.['min']" class="red">
                                                La note ne peut pas être inférieure à 0.
                                            </div>
                                
                                            <!-- Message d'erreur si la valeur est supérieure à 20 -->
                                            <div *ngIf="noteForm.controls['studentNote'].errors?.['max']" class="red">
                                                La note ne peut pas dépasser 20.
                                            </div>
                                
                                        </div>
                                    </div> 
                                </div>
                                
                              
                                
                                
                                <p class="form-message"></p>
                                <div class="col-md-12 text-center">
                                    <div class="singel-form">
                                        <button type="submit" class="main-btn" (click)="addNote()">Add Note</button>
                                    </div> 
                                   
                                </div> 
                            </div> <!-- row -->
                        </form>
                    </div> <!-- main form -->
                </div> <!--  contact from -->
            </div>
          
        </div> <!-- row -->
    </div> <!-- container -->

</section>