<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(assets/images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Our Courses</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section id="course-part" class="pt-115 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h5>Our course</h5>
                    <h2>Featured courses </h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row course-slied mt-30">
            <div class="col-lg-4" *ngFor="let cours of coursTable">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="assets/images/course/cu-1.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                     
                        
                        <h2> Courses Name : {{cours.courName}}</h2><br>
                        <h3>Number of hour's : {{cours.courNbrHours}}</h3><br>
                        <h6> Courses Discription : {{cours.courDiscription}}</h6>
                        <div class="course-teacher">
                           
                            <div class="name">
                                
                            </div>
                            <div class="admin">
                               
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
          
        </div> <!-- course slied -->
    </div> <!-- container -->
</section>