<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(assets/images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Our Courses</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Courses</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<section id="course-part" class="pt-115 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h5>Our course</h5>
                    <h2>Featured courses </h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row course-slied mt-30">
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="assets/images/course/cu-1.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="assets/images/course/teacher/t-1.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#"><h6>Mark anthem</h6></a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                                <a href="#"><img src="assets/images/course/teacher/t-1.jpg" alt="teacher"></a>
                                <img src="assets/images/course/cu-2.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="assets/images/course/teacher/t-2.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#"><h6>Mark anthem</h6></a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="assets/images/course/cu-3.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="assets/images/course/teacher/t-3.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#"><h6>Mark anthem</h6></a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="assets/images/course/cu-4.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="assets/images/course/teacher/t-4.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#"><h6>Mark anthem</h6></a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
            <div class="col-lg-4">
                <div class="singel-course">
                    <div class="thum">
                        <div class="image">
                            <img src="assets/images/course/cu-5.jpg" alt="Course">
                        </div>
                        <div class="price">
                            <span>Free</span>
                        </div>
                    </div>
                    <div class="cont">
                        <ul>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                        <span>(20 Reviws)</span>
                        <a href="courses-singel.html"><h4>Learn basis javascirpt from start for beginner</h4></a>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="#"><img src="assets/images/course/teacher/t-5.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#"><h6>Mark anthem</h6></a>
                            </div>
                            <div class="admin">
                                <ul>
                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- singel course -->
            </div>
        </div> <!-- course slied -->
    </div> <!-- container -->
</section>